.roadmap {
  width: 100%;
  padding: 120px 0;
  background-color: #0080ff;

  @media only screen and (max-width: 480px) {
    padding: 40px 0;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
  clear: fix;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.head {
  margin-bottom: 110px;
}

.title {
  font: bold 64px/80px Roboto;
  color: #fff;
  margin: 0 0 10px 0;
  text-align: center;
}

.subtitle {
  font: 300 28px/46px Roboto;
  color: #fff;
  margin: 0;
  text-align: center;
}

.content {
  margin: -50px 0;

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 480px) {
    padding: 0 20px;
    margin: 0;
  }
}

.block {
  position: relative;
  margin: 50px 0;
  display: inline-block;
  width: 228px;
  vertical-align: top;

  @media only screen and (max-width: 1024px) {
    width: 25%;
  }

  @media only screen and (max-width: 768px) {
    width: 33.33333333%;
  }

  @media only screen and (max-width: 480px) {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    min-height: 160px;

    &:last-child {
      min-height: auto;
    }
  }
}

.label {
  font: bold 16px/24px Roboto;
  position: absolute;
  top: -50px;
  width: auto;
  color: #0080ff;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 9px;

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.date {
  font: 500 22px/24px Roboto;
  color: #fff;
  margin-bottom: 15px;

  @media only screen and (max-width: 480px) {
    padding-left: 40px;
  }
}

.what {
  font: normal 15px/24px Roboto;
  color: #fff;
  max-width: 200px;

  @media only screen and (max-width: 480px) {
    padding-left: 40px;
    max-width: none;
  }
}

.line {
  height: 2px;
  width: 100%;
  background-color: #499aff;
  margin-bottom: 30px;

  @media only screen and (max-width: 480px) {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 9px;
  }
}

.point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: -11px;

  @media only screen and (max-width: 480px) {
    top: 0;
    left: -9px;
  }
}

.active {
  composes: point;

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0080FF;
  }
}
