.faq {
  width: 750px;
  margin: 100px auto 140px;
  position: relative;
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  outline: none;
}

.title {
  font: 500 56px/64px Roboto;
  color: #111;
  margin-bottom: 60px;
}

.section {

}

.sectionTitle {
  font: 500 34px/46px Roboto;
  color: #111;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 15px 0 0;
}
