.input {
  margin-bottom: 15px;
}

.tip {
  font: normal 12px/20px Roboto;
  color: #7c7c7c;
  margin: 20px auto 0;
  text-align: center;

  & a {
    color: #0380ff;
    text-decoration: none;
  }
}
