@use postcss-short;
@use postcss-clearfix;

.about {
  width: 100%;
  padding: 120px 0;
  background-color: #fbfbfb;

  @media only screen and (max-width: 480px) {
    padding: 40px 0;
  }
}

.container {
  width: 1100px;
  margin: 0 auto;
  clear: fix;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.head {
  margin-bottom: 60px;
}

.title {
  font: bold 64px/80px Roboto;
  color: #111;
  margin: 0 0 10px 0;
  text-align: center;
}

.subtitle {
  font: 300 28px/46px Roboto;
  color: #111;
  margin: 0;
  text-align: center;
}

.text {
  font: 300 28px/46px Roboto;
  color: #111;
  text-align: center;
  margin-bottom: 80px;
}

.button {
  text-align: center;
}

.buttonElement {
  background-color: transparent;
  font: 500 28px/46px Roboto;
  color: #0080ff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;

  & > img {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
}
