@use postcss-clearfix;
@use postcss-inline-svg;

.about {
  width: 100%;
  padding: 80px 0;
  background-color: #fafafa;

  @media only screen and (max-width: 480px) {
    padding: 40px 0;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
  clear: fix;

  @media only screen and (max-width: 1024px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
    padding: 0;
  }
}

.what {
  width: 700px;
  float: left;
  margin-right: 120px;

  @media only screen and (max-width: 1024px) {
    width: 60%;
    margin-right: 10%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
    float: none;
    margin: 0;
  }
}

.resourses {
  width: 320px;
  float: right;

  @media only screen and (max-width: 1024px) {
    width: 30%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
    float: none;
    margin-top: 40px;
  }
}

.title {
  font: bold 35px Roboto;
  color: #444;
  margin: 0 0 5px 0;
  letter-spacing: -0.1px;

  @media only screen and (max-width: 480px) {
    font: bold 30px Roboto;
    padding: 0 20px;
  }
}

.subtitle {
  font: normal 20px Roboto;
  color: #adadad;
  margin: 0;
  letter-spacing: -0.1px;

  @media only screen and (max-width: 480px) {
    font: normal 20px Roboto;
    padding: 0 20px;
  }
}

.content {
  margin-top: 50px;

  @media only screen and (max-width: 480px) {
    margin-top: 40px;
  }
}

.text {
  font: normal 16px/24px Roboto;
  color: #444;

  @media only screen and (max-width: 480px) {
    font: normal 14px/24px Roboto;
    padding: 0 20px;
  }
}

.links {
  margin: -9px 0;

  & a {
    cursor: pointer;
    position: relative;
    font: normal 18px Roboto;
    letter-spacing: -0.1px;
    color: #0080e0;
    display: inline-block;
    margin: 9px 0;
    padding: 0 25px 0 0;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      right: 10px;
      display: block;
      height: 11px;
      width: 16px;
      background-image: svg-load('./svg/linkArrow.svg');
      opacity: 0;
      transition: 0.1s linear all;
    }

    &:hover {
      &::after {
        opacity: 1;
        right: 0;
      }
    }

    &.disabled {
      color: #adadad;
      pointer-events: none;
    }
  }

  @media only screen and (max-width: 480px) {
    padding: 0 20px;
  }
}
