.product {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 15px 0 185px;

  @media only screen and (max-device-width: 480px) {
    padding: 15px 0 80px;
  }
}

.container {
  width: 1134px;
  margin: 0 auto;

  @media only screen and (max-width: 1134px) {
    width: calc(100% - 170px);
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (max-device-width: 1200px) {
    width: 400px;
  }

  @media only screen and (max-device-width: 480px) {
    width: 100%;
  }
}

.mid {
  top: 50%;
}

.slide {
  & > img {
    width: 100%;
  }
}

:global(.product) {
  :global(.slick-prev),
  :global(.slick-next) {
    top: 50%;
  }

  :global(.slick-prev) {
    left: -140px;
  }

  :global(.slick-next) {
    right: -140px;
  }

  @media only screen and (max-width: 1450px) {
    :global(.slick-prev) {
      left: -65px;
    }

    :global(.slick-next) {
      right: -65px;
    }
  }

  :global(.slick-dots) {
    bottom: -30px;
  }
}
