.video {
  width: 1280px;
  margin: 100px auto;
  position: relative;

  @media only screen and (max-width: 1280px) {
    width: 100%;
  }
}

.iframe {
  width: 1280px;
  height: 720px;

  @media only screen and (max-width: 1280px) {
    width: 100%;
  }
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  outline: none;
}
