.team {
  width: 100%;
  padding: 120px 0;
  background-color: #fbfbfb;

  @media only screen and (max-width: 480px) {
    padding: 50px 0 70px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.head {
  margin-bottom: 60px;

  @media only screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.title {
  font: bold 64px/80px Roboto;
  color: #111;
  margin: 0 0 10px 0;
  text-align: center;

  @media only screen and (max-width: 1100px) {
    padding: 0 20px;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: bold 36px/42px Roboto;
    margin: 0 0 5px 0;
  }

  @media only screen and (max-width: 480px) {
    font: bold 36px/42px Roboto;
    margin: 0 0 5px 0;
  }
}

.subtitle {
  font: 300 28px/46px Roboto;
  color: #111;
  margin: 0;
  text-align: center;

  @media only screen and (max-width: 1100px) {
    padding: 0 20px;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: 300 18px/25px Roboto;
  }

  @media only screen and (max-width: 480px) {
    font: 300 18px/25px Roboto;
  }
}

.slick {
  margin: 0 -15px;
  padding-bottom: 70px;
  position: relative;

  @media only screen and (max-width: 1024px) {
    margin: 0;
    padding: 0 80px 70px 80px;
  }

  @media only screen and (max-width: 480px) {
    margin: 0;
    padding: 0 0 70px 0;
  }
}

.slickItem {
  display: inline-block;
  margin: 0;

  @media only screen and (max-width: 1024px) {
    margin: 0;
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    margin: 0;
    width: 100%;
  }
}

:global(.slick-dots) {
  bottom: -70px;

  & > li {
    width: auto;
    height: auto;
    margin: 0 5px;

    & > button {
      padding: 5px 0;
      width: 42px;
      height: 6px;

      &:before {
        content: '';
        width: 42px;
        height: 6px;
        border-radius: 3px;
        opacity: 1;
        background-color: #e7e7e7;
        transition: 0.1s linear all;
      }

      @media only screen and (max-width: 480px) {
        width: 10px;
        height: 10px;

        &:before {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }

  & > :global(.slick-active) {
    & > button {
      &:before {
        background-color: #0080FF;
      }
    }
  }
}

:global(.slick-arrow) {
  opacity: 1;
  transition: 0.1s linear all;

  &:global(.slick-disabled) {
    opacity: 0;
    cursor: default;
  }
}

:global(.slick-prev),
:global(.slick-next) {
  height: 58px;
  width: 58px;
  transform: none;
  top: 75px;

  &:before {
    display: none;
  }
}

:global(.slick-prev) {
  left: -65px;
}

:global(.slick-next) {
  right: -65px;
}
