@use postcss-clearfix;

.wrap {
  width: 100%;
  height: 94px;
}

.header {
  width: 1140px;
  margin: 0 auto;
  padding: 20px 0;
  clear: fix;
  background-color: #fff;
}

.logo {
  width: 200px;
  float: left;
  vertical-align: middle;
}

.pic {
  width: 54px;
  height: 54px;
  display: inline-block;
  vertical-align: middle;

  & > img {
    width: 100%;
  }
}

.symbol {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: #444;
  font: bold 40px Roboto;
}

.nav {
  width: calc(100% - 200px);
  float: right;
  margin: 0 -20px;
  text-align: right;
  line-height: 54px;
}

.link {
  display: inline-block;
  margin: 0 20px;

  & .linkInner {
    font: normal 18px Roboto;
    color: #707070;
    cursor: pointer;
    text-decoration: none;
  }
}

.ddLink {
  font: normal 18px Roboto;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 10px 15px;
  white-space: nowrap;
  color: #707070;
  text-decoration: none;

  & > img {
    margin-right: 5px;
  }
}
