.block {
  margin: 10px 0;
  padding: 8px 15px;
  background-color: transparent;
  transition: 0.1s linear background-color;

  &:hover {
    background-color: #F8F8F8;
  }

  &:last-child {
    border: none;
  }
}

.open {
  composes: block;
  background-color: #F8F8F8;
}

.title {
  font: 500 18px/40px Roboto;
  color: #444;
  cursor: pointer;

  @media only screen and (max-width: 480px) {
    font: normal 18px/24px Roboto;
  }
}

.body {
  font: normal 18px/24px Roboto;
  color: #444;
  padding: 5px 0;

  & a {
    font: bold 16px/30px Roboto;
    color: #0080FF;
    text-decoration: none;
    cursor: pointer;

    @media only screen and (max-width: 480px) {
      font: normal 14px/18px Roboto;
    }
  }

  @media only screen and (max-width: 480px) {
    font: normal 14px/18px Roboto;
  }
}
