.block {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.title {
  font: 500 20px/40px Roboto;
  color: #111;
  cursor: pointer;
  transition: 0.1s linear all;

  &:hover {
    color: #0080FF;
  }
}

.body {
  font: 300 20px/32px Roboto;
  color: #111;
  margin-top: 10px;
}
