.landing {
  min-height: calc(100vh - 94px);
  width: 100%;
  height: auto;
  position: relative;
  background-image: url(./images/guys.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media only screen and (max-height: 900px) {
    min-height: auto;
    padding-bottom: 300px;
  }

  @media only screen and (max-width: 1024px) {
    min-height: calc(100vh - 74px);
  }

  @media only screen and (max-width: 480px) {
    min-height: auto;
    height: auto;
    padding: 50px 0 40px;
  }
}

.inner {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  margin: 0 auto;

  @media only screen and (max-height: 900px) {
    position: static;
    top: auto;
    transform: none;
    margin: 60px auto 0;
  }

  @media only screen and (max-width: 480px) {
    position: static;
    top: auto;
    transform: none;
  }
}

.logo {
  width: 100px;
  margin: 0 auto;

  & > img {
    width: 100%;
  }
}

.title {
  margin-top: 40px;
  margin-bottom: 25px;
  font: bold 72px Roboto;
  text-align: center;
  color: #111;

  @media only screen and (max-width: 480px) {
    font: bold 30px/35px Roboto;
    letter-spacing: -0.1px;
    text-align: left;
    padding: 0 20px;
  }
}

.description {
  max-width: 900px;
  margin: 0 auto;
  font: 300 28px/46px Roboto;
  text-align: center;
  color: #111;

  @media only screen and (max-width: 480px) {
    font: normal 20px/30px Roboto;
    text-align: left;
    padding: 0 20px;
  }
}

.buttons {
  margin-top: 50px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0 15px;
  width: 210px;

  @media only screen and (max-width: 480px) {
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.telegramButton {
  vertical-align: middle;
  margin-right: 7px;
  position: relative;
  top: -2px;
}

.godown {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  text-align: center;
  font: normal 16px Roboto;
  color: #0080FF;

  & > img {
    margin-top: 10px;
    display: inline-block;
  }

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
