.landing {
  min-height: calc(100vh - 94px);
  width: 100%;
  height: auto;
  position: relative;
  background-image: url(./images/guys.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 1330px;

  @media only screen and (max-height: 768px) {
    min-height: auto;
    padding-bottom: 300px;
  }

  @media only screen and (max-width: 1024px) {
    min-height: calc(100vh - 74px);
  }

  @media only screen and (max-width: 480px) {
    min-height: auto;
    height: auto;
    padding: 50px 0 40px;
  }
}

.inner {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  margin: 0 auto;

  @media only screen and (max-height: 900px) {
    position: static;
    top: auto;
    transform: none;
    margin: 90px auto 0;
  }

  @media only screen and (max-width: 480px) {
    position: static;
    top: auto;
    transform: none;
  }
}

.logo {
  width: 88px;
  margin: 0 auto;

  & > img {
    width: 100%;
  }
}

.title {
  margin-top: 60px;
  margin-bottom: 25px;
  font: bold 72px Roboto;
  text-align: center;
  color: #111;

  @media only screen and (max-width: 480px) {
    font: bold 30px/35px Roboto;
    letter-spacing: -0.1px;
    text-align: left;
    padding: 0 20px;
  }
}

.description {
  max-width: 900px;
  margin: 0 auto;
  font: 300 28px/46px Roboto;
  text-align: center;
  color: #111;

  @media only screen and (max-width: 480px) {
    font: normal 20px/30px Roboto;
    text-align: left;
    padding: 0 20px;
  }
}

.buttons {
  margin-top: 50px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0 15px;
  width: 210px;

  @media only screen and (max-width: 480px) {
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.telegramButton {
  vertical-align: middle;
  margin-right: 7px;
  position: relative;
  top: -2px;
}

.link {
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: 0;
  outline: none;
  border-radius: 4px;
  padding: 13px 20px;
  font: 500 20px Roboto;
  color: #111;
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s linear all;
  text-decoration: none;

  &:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  }
}
