@use postcss-short;

.distribution {
  width: 100%;
  padding: 120px 0;
  background-color: #fbfbfb;

  @media only screen and (max-width: 480px) {
    padding: 40px 0;
  }
}

.container {
  width: 1100px;
  margin: 0 auto;
  clear: fix;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.head {
  margin-bottom: 60px;
}

.title {
  font: bold 64px/80px Roboto;
  color: #111;
  margin: 0 0 10px 0;
  text-align: center;
}

.subtitle {
  font: 300 28px/46px Roboto;
  color: #111;
  margin: 0;
  text-align: center;
}

.blocks {
  text-align: center;
}

.block {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  margin: 0 25px;
  box-sizing: border-box;
}

.val {
  font: 500 42px Roboto;
  color: #111;
  text-align: center;
}

.label {
  font: 300 24px Roboto;
  color: #111;
  text-align: center;
  margin-top: 15px;
}

.progress {
  position: relative;
  margin-top: 35px;
  background-color: #dceffe;
  height: 12px;
  width: 100%;
  border-radius: 6px;
}

.filled {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #0080ff;
  height: 12px;
  border-radius: 6px;
}
