@use postcss-short;
@use postcss-clearfix;

.crowdsale {
  width: 100%;
  padding: 120px 0;
  background-color: #fff;

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    padding: 50px 0;
  }

  @media only screen and (max-width: 480px) {
    padding: 50px 0;
  }
}

.container {
  width: 1100px;
  margin: 0 auto;
  clear: fix;

  @media only screen and (max-width: 1100px) {
    width: 100%;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.head {
  margin-bottom: 60px;

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.title {
  font: bold 64px/80px Roboto;
  color: #111;
  margin: 0 0 10px 0;
  text-align: center;

  @media only screen and (max-width: 1100px) {
    padding: 0 20px;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: bold 36px/42px Roboto;
    margin: 0 0 5px 0;
  }

  @media only screen and (max-width: 480px) {
    font: bold 36px/42px Roboto;
    margin: 0 0 5px 0;
  }
}

.subtitle {
  font: 300 28px/46px Roboto;
  color: #111;
  margin: 0;
  text-align: center;

  @media only screen and (max-width: 1100px) {
    padding: 0 20px;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: 300 18px/25px Roboto;
  }

  @media only screen and (max-width: 480px) {
    font: 300 18px/25px Roboto;
  }
}

.text {
  font: 300 28px/46px Roboto;
  color: #111;
  text-align: center;
  margin: 0 auto 80px;
  width: 980px;

  @media only screen and (max-width: 980px) {
    padding: 0 20px;
    width: auto;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: 300 18px/28px Roboto;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 480px) {
    font: 300 18px/28px Roboto;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

.blocks {
  margin: -30px 0;

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    margin: 12px 0;
  }

  @media only screen and (max-width: 600px) {
    margin: 12px 0;
  }
}

.block {
  display: inline-block;
  vertical-align: top;
  width: 33.33333%;
  margin: 30px 0;

  @media only screen and (max-width: 900px) {
    width: 50%;
  }

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    width: 100%;
    margin: 12px 0;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: 12px 0;
  }
}

.val {
  font: 500 42px Roboto;
  color: #111;
  text-align: center;

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: 500 28px/33px Roboto;
  }

  @media only screen and (max-width: 600px) {
    font: 500 28px/33px Roboto;
  }
}

.label {
  font: 300 24px Roboto;
  color: #111;
  margin-top: 15px;
  text-align: center;

  @media only screen
  and (max-device-width: 812px)
  and (orientation: landscape) {
    font: 300 14px/25px Roboto;
    margin-top: 2px;
  }

  @media only screen and (max-width: 600px) {
    font: 300 14px/25px Roboto;
    margin-top: 2px;
  }
}
