@use postcss-short;
@use postcss-clearfix;

.crowdsale {
  width: 100%;
  padding: 80px 0;
  background-color: #fff;

  @media only screen and (max-width: 480px) {
    padding: 40px 0;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
  clear: fix;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.head {
  margin-bottom: 80px;

  @media only screen and (max-width: 480px) {
    margin-bottom: 40px;
  }
}

.title {
  font: bold 35px Roboto;
  color: #444;
  margin: 0 0 5px 0;
  letter-spacing: -0.1px;

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 480px) {
    font: bold 30px Roboto;
    padding: 0 20px;
  }
}

.subtitle {
  font: normal 20px Roboto;
  color: #adadad;
  margin: 0;
  letter-spacing: -0.1px;

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 480px) {
    padding: 0 20px;
  }
}

.content {
  clear: fix;

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }

  @media only screen and (max-width: 480px) {
    padding: 0;
  }
}

.text {
  width: 600px;
  float: left;
  margin-right: 170px;
  font: normal 16px/24px Roboto;
  color: #444;

  @media only screen and (max-width: 1024px) {
    width: 50%;
    margin-right: 5%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
    float: none;
  }
}

.table {
  & .row {
    & > td {
      font: normal 18px Roboto;
      color: #0080e0;
      letter-spacing: -0.1px;
      padding: 5px 10px;
      opacity: 0.75;
      border-bottom: 1px solid #dadada;

      &:first-child {
        color: #444;
        text-align: right;
      }

      @media only screen and (max-width: 480px) {
        font: normal 16px Roboto;
      }
    }

    &:last-child {
      & > td {
        border-bottom: none;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    width: 45%;
    float: left;
  }

  @media only screen and (max-width: 480px) {
    padding: 0 20px;
    margin: 30px auto 0;
  }
}

.distribution {
  margin: 65px 0 0 0;
}

.distTitle {
  font: bold 25px Roboto;
  color: #444;
  letter-spacing: -0.1px;
  margin: 0 0 30px 0;

  @media only screen and (max-width: 1024px) {
    text-align: center;
  }

  @media only screen and (max-width: 480px) {
    text-align: center;
  }
}

.distArea {
  margin: 0 -30px;

  @media only screen and (max-width: 1024px) {
    margin: 0;
    text-align: center;
  }

  @media only screen and (max-width: 480px) {
    width: 280px;
    margin: -30px auto;
    padding: 0 20px;
    text-align: center;
  }
}

.item {
  display: inline-block;
  text-align: center;
  padding: 0 30px;
  border-right: 1px solid #dadada;

  &:last-child {
    border-right: none;
  }

  @media only screen and (max-width: 480px) {
    width: 50%;
    border: none;
    margin: 30px 0;
    padding: 0;
  }
}

.number {
  font: light 30px Roboto;
  letter-spacing: -0.1px;
  color: #444;
}

.description {
  font: normal 16px Roboto;
  letter-spacing: -0.1px;
  color: #a2a2a2;
}
