.wrapper {
  position: relative;
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
  padding: 10px 0;
  left: -15px;
}

.item {
  text-align: left;
  line-height: normal;

  &:hover {
    background-color: #f9f9f9;
  }
}

.link {
  display: inline-block;
  margin: 0 20px;

  & .linkInner {
    font: normal 18px Roboto;
    color: #444;
    cursor: pointer;
  }
}
