.input {
  font: normal 20px Roboto;
  color: #444;
  padding: 13px 30px;
  border: 1px solid rgba(68, 68, 68, 0.4);
  outline: none;
  border-radius: 100px;
  width: 100%;
  box-sizing: border-box;
}
