@use postcss-short;
@use postcss-clearfix;

.cases {
  width: 100%;
  padding: 120px 0 90px;
  background-color: #fff;
}

.container {
  width: 1040px;
  margin: 0 auto;
  clear: fix;
}

.head {
  margin-bottom: 60px;
}

.title {
  font: bold 64px/80px Roboto;
  color: #111;
  margin: 0 0 10px 0;
  text-align: center;
}

.subtitle {
  font: 300 28px/46px Roboto;
  color: #111;
  margin: 0;
  text-align: center;
}

.text {
  font: 300 28px/46px Roboto;
  color: #111;
  text-align: center;
  margin-bottom: 60px;
}

.tabs {
  margin: 60px -60px 0;
  text-align: center;
}

.inner {
  display: inline-block;
  border-bottom: 1px solid #F2F3F7;
}

.button {
  text-align: center;
}

.buttonElement {
  background-color: transparent;
  font: 500 28px/46px Roboto;
  color: #0080ff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;

  & > img {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
}

.tab {
  display: inline-block;
  width: 80px;
  margin: 0 60px;
  padding-bottom: 30px;
  cursor: pointer;

  &:first-child {
    margin: 0 60px 0 0;
  }

  &:last-child {
    margin: 0 0 0 60px;
  }
}

.active {
  composes: tab;
  border-bottom: 1px solid #111;
}

.label {
  margin: 10px -30px 0;
  text-align: center;
  font: 300 15px/18px Roboto;
  color: #111;
}
