.card {
  width: 260px;
  padding: 0 15px;

  @media only screen and (max-width: 1024px) {
    padding: 0 10px;
  }

  @media only screen and (max-width: 768px) {
    margin: 0 auto;
  }

  @media only screen and (max-width: 480px) {
    width: 240px;
    padding: 0 10px;
    margin: 0 auto;
  }
}

.photo {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(62deg, rgba(238, 238, 238, 0.0), rgba(105, 105, 105, 0.0) 56%, rgba(0, 0, 0, 0.25));
}

.socialNetworks {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: -8px 0;

  & > a {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: block;
    margin: 8px 0;

    & > img {
      width: 100%;
      opacity: 0.9;
    }
  }
}

.name {
  font: normal 24px Roboto;
  color: #444;
  margin-top: 20px;
}

.role {
  font: normal 14px Roboto;
  color: #0080FF;
  margin-top: 5px;
}

.about {
  font: normal 14px/21px Roboto;
  color: #444;
  opacity: 0.7;
  margin-top: 15px;
}
